.page_title_in_banner form{
    background-color: rgba(255,255,255,.2);
    padding: 30px;
    border-radius: 5px;
}
.resource{
    padding: 60px 0;
    background-color: #efefef;
}
.resource h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 34px;
    color: rgba(0,0,0,.7);
    margin-bottom: 30px;
}
.single_r_category{
    text-align: center;
    padding: 30px 0;
    background-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    transition: all .1s;
    margin-bottom: 30px;
}
.single_r_category:hover{
    transform: scale(1.05);
}
.single_r_category i{
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #e4606d;
    color: #fff;
    font-size: 25px;
}
.single_r_category h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 22px;
    padding: 15px 0;
    margin-bottom: 0;
}
.single_r_category h3 a{
    color: rgba(0,0,0,.7);
    transition: all .5s;
}
.single_r_category h3 a:hover{
     color: blue;
 }
.single_r_category p{
    font-family: 'Open Sans', sans-serif;
    color: rgba(0,0,0,.6);
    line-height: 28px;
}
.single_r_category p.total{
    font-weight: 700;
}

/* upload part start */
.upload{
    padding: 80px 0;
    background-color: #1bb4b9;
}
.upload h2{
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
}
.upload p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 26px;
}
.upload a.fill_button{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 40px;
    background-color: #71ff00;
    font-size: 18px;
    color: #000;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);;
}
/* upload part end */

/* all resource page css start */
.all_resource{
    padding: 80px 0;
}
.single_resource{
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    transition: all .2s;
    margin-bottom: 30px;
}
.single_resource:hover{
}
.single_resource .card{
    border-radius: 0;
}
.single_resource .resource_img{
    position: relative;
    overflow: hidden;
}
.single_resource .resource_img .overley_resourece{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    transition: all .5s;
    opacity: 0;
}
.single_resource:hover .resource_img .overley_resourece{
    opacity: 1;
}
.single_resource .resource_img img{
    width: 100%;
    height: auto;
}
.single_resource .overley_resourece hr{
    border-color: #fff;
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-in;
    opacity: 0;
}
.single_resource .overley_resourece hr:first-child{
    top: 10%;
}
.single_resource .overley_resourece hr:last-child{
    bottom: 10%;
}
.single_resource:hover .overley_resourece hr:last-child{
    bottom: 25%;
    opacity: 1;
}
.single_resource:hover .overley_resourece hr:first-child{
    top: 25%;
    opacity: 1;
}
.single_resource .overley_resourece a{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    white-space: nowrap;
    transition: all .5s;
    border-radius: 3px;
}
.single_resource:hover .overley_resourece a{
    opacity: 1;
}
.single_resource .overley_resourece a:hover{
    background-color: #e4606d;
}
/*
.single_resource .resource_img:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
    transition: all .5s ease-in;
    background-color: rgba(0,0,0,.4);
    visibility: hidden;
    opacity: 0;
}
.single_resource:hover .resource_img:after{
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.single_resource .resource_img:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    right: 0;
    transition: all .5s ease-in;
    background-color: rgba(255,255,255,.4);
    visibility: hidden;
    opacity: 0;
}
.single_resource:hover .resource_img:before{
    width: 100%;
    opacity: 1;
    visibility: visible;
}*/
.single_resource h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    color: rgba(0,0,0,.9);
}
.single_resource h3 a{
    color: rgba(0,0,0,.9);
    transition: all .3s;
}
.single_resource h3 a:hover{
    color: blue;
}
.single_resource p{
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0,0,0,.7);
}
/* all resource page css end */













