
/* mega menu from 992 to up */
@media (min-width: 992px) {
    /* menu bar */
    #my_nav ul li .dropdown-menu{
        transition: all .5s;
        display: block;
        visibility: hidden;
        opacity: 0;
    }
    #my_nav ul li:hover .dropdown-menu{
        visibility: visible;
        opacity: 1;
    }

}

/* ---------------Extra large device--------------- */
@media(min-width: 1200px) and (max-width: 1300) {
    /* slider part */
    .main_slider .left_arrow, .main_slider .right_arrow {
        transform: none;
        top: 20px;
    }
}

/* ---------------large device--------------- */
@media(min-width: 992px) and (max-width: 1199px) {
    /* slider part */
    .main_slider .left_arrow, .main_slider .right_arrow {
        transform: none;
        top: 20px;
    }
    /* event part */
    .single_event {
        padding: 30px;
    }
    /* blog part */
    .blog {
        padding: 40px 0;
    }
    .hblog {
        max-height: none;
    }
    .blog_thumbnail {
        height: 200px;
    }
    .blog_thumbnail img {
        min-width: 100%;
    }
    .blog_content {
        padding: 15px;
    }

}

/* ---------------medium device--------------- */
@media(min-width: 768px) and (max-width: 991px) {
    /* nav bar */
    .custom_nav{
        background-color: #1ca79a !important;
        height: auto;
    }
    #my_nav > ul > li > a {
        padding: 10px 10px;
        color: #fff;
    }
    #my_nav > ul > li:hover > a {
        background-color: #fff;
        color: #1ca79a;
    }
    .navbar-light .navbar-toggler {
        border-color: #fff;
        background-color: #fff;
    }
    #my_nav > ul{
        margin-top: 15px;
    }
    .dropdown-menu{
        padding: 0;
    }
    .dropdown-menu ul li a{
        padding: 10px 10px;
        display: block;
        color: #1ca79a;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        transition: .5s;
        border-bottom:  1px solid #1ca79a;
    }
    .dropdown-menu ul li a:hover{
        background-color: #1ca79a;
        color: #fff;
    }

    #my_nav ul li .dropdown-menu {
        left: 0;
        transform: none;
    }

    /* slider part */
    .single_slider{
        padding-bottom: 0;
        height: 450px;
    }
    .single_slider h1 {
        font-size: 35px;
    }
    .single_slider h3 {
        font-size: 22px;
    }
    .single_slider h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .single_slider .fill_button {
        padding: 5px 8px;
        font-size: 14px;
    }
    .main_slider .left_arrow, .main_slider .right_arrow {
        transform: none;
        top: 20px;
    }
    /* about icon */
    .single_iconss a i {
        font-size: 25px;
        height: 70px;
        width: 70px;
        line-height: 70px;
    }
    .single_iconss h2 {
        font-size: 16px;
    }
    .icon_part {
        height: 150px;
        top: -75px;
    }
    .about {
        padding: 130px 0 40px;
    }
    /* course part */
    .courses {
        padding: 40px 0;
    }
    .single_course {
        margin-bottom: 30px;
    }
    /* event part */
    .single_event {
        padding: 15px 10px 10px;
    }
    .event {
        padding: 40px 0;
    }
    /* register part */
    .register {
        padding: 40px 0;
    }
    .register_info {
        padding: 0;
    }
    .register_info h3{
        font-size: 25px;
    }
    .register_info p {
        margin: 0;
        padding: 10px 0 30px;
    }
    /* gallery part */
    .gallery {
        padding: 40px 0;
    }
    /* blog part */
    .blog {
        padding: 40px 0;
    }
    .hblog {
        max-height: none;
    }
    .blog_thumbnail {
        height: 200px;
    }
    .blog_thumbnail img {
        min-width: 100%;
    }
    .blog_content {
        padding: 15px;
    }
    /* video part */
    .video {
        padding: 40px 0;
    }
    /* team part */
    .team .left, .team .right {
        bottom: 30px;
    }
    .team {
        padding: 40px 0 80px;
    }
    /* featire part */
    .feature {
        padding: 40px 0;
    }
    .single_feature {
        margin-bottom: 30px;
    }
    .feature .mt-5{
        margin-top: 0!important;
    }
    /* partner part */
    .partner {
        padding: 30px 0;
    }
    /* footer section */
    .footer {
        padding: 40px 0;
    }
    .footer_social_icon ul li {
        margin-bottom: 30px;
    }
    /* section title */
    .section_title h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }
}

/* ---------------small device--------------- */
@media(min-width: 576px) and (max-width: 767px) {
    /* nav bar */
    .custom_nav{
        background-color: #1ca79a !important;
        height: auto;
    }
    #my_nav > ul > li > a {
        padding: 10px 10px;
        color: #fff;
    }
    #my_nav > ul > li:hover > a {
        background-color: #fff;
        color: #1ca79a;
    }
    .navbar-light .navbar-toggler {
        border-color: #fff;
        background-color: #fff;
    }
    #my_nav > ul{
        margin-top: 15px;
    }
    .dropdown-menu{
        padding: 0;
    }
    .dropdown-menu ul li a{
        padding: 10px 10px;
        display: block;
        color: #1ca79a;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        transition: .5s;
        border-bottom:  1px solid #1ca79a;
    }
    .dropdown-menu ul li a:hover{
        background-color: #1ca79a;
        color: #fff;
    }

    #my_nav ul li .dropdown-menu {
        left: 0;
        transform: none;
    }

    /* slider part */
    .single_slider{
        padding-bottom: 0;
        height: 350px;
    }
    .single_slider h1 {
        font-size: 25px;
    }
    .single_slider h3 {
        font-size: 18px;
    }
    .single_slider h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .single_slider .fill_button {
        padding: 5px 8px;
        font-size: 14px;
    }
    .main_slider .left_arrow, .main_slider .right_arrow {
        top: auto;
        transform: none;
        bottom: 20px;
    }
    /* about part */
    .about {
        padding: 40px 0;
    }
    .about_content h3 {
        padding-top: 15px;
    }
    .about_video {
        height: 250px;
    }
    /* course part */
    .courses {
        padding: 40px 0;
    }
    .single_course {
        margin-bottom: 30px;
    }
    /* event part */
    .event {
        padding: 40px 0;
    }
    .single_event {
        padding: 15px 0;
        margin: 15px auto;
    }
    .event_details h3 {
        font-size: 18px;
        padding: 15px 0 0;
    }
    .date_and_button .date h3 {
        font-size: 18px;
    }
    .date_and_button .date h2 {
        font-size: 25px;
    }
    /* register part */
    .register {
        padding: 40px 0;
    }
    .register_info {
        padding: 0;
    }
    .register_info h3{
        font-size: 25px;
    }
    .register_info p {
        margin: 0;
        padding: 10px 0 30px;
    }
    /* gallery part */
    .gallery {
        padding: 40px 0;
    }
    /* blog part */
    .blog {
        padding: 40px 0;
    }
    .hblog {
        max-height: none;
    }
    .blog_thumbnail {
        height: 200px;
    }
    .blog_thumbnail img {
        min-width: 100%;
    }
    .blog_content {
        padding: 15px;
    }
    /* video part */
    .video {
        padding: 40px 0;
    }
    /* team part */
    .team .left, .team .right {
        bottom: 30px;
    }
    .team {
        padding: 40px 0 80px;
    }
    /* featire part */
    .feature {
        padding: 40px 0;
    }
    .single_feature {
        margin-bottom: 30px;
    }
    .feature .mt-5{
        margin-top: 0!important;
    }
    /* partner part */
    .partner {
        padding: 30px 0;
    }
    /* footer section */
    .footer {
        padding: 40px 0;
    }
    .footer_social_icon ul li {
        margin-bottom: 30px;
    }
    /* section title */
    .section_title h2 {
        font-size: 35px;
        margin-bottom: 30px;
    }
}

/* ---------------extra small device--------------- */
@media(max-width: 575px) {
    /* nav bar */
    .custom_nav{
        background-color: #1ca79a !important;
        height: auto;
    }
    #my_nav > ul > li > a {
        padding: 10px 10px;
        color: #fff;
    }
    #my_nav > ul > li:hover > a {
        background-color: #fff;
        color: #1ca79a;
    }
    .navbar-light .navbar-toggler {
        border-color: #fff;
        background-color: #fff;
    }
    #my_nav > ul{
        margin-top: 15px;
    }
    .dropdown-menu{
        padding: 0;
    }
    .dropdown-menu ul li a{
        padding: 10px 10px;
        display: block;
        color: #1ca79a;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        transition: .5s;
        border-bottom:  1px solid #1ca79a;
    }
    .dropdown-menu ul li a:hover{
        background-color: #1ca79a;
        color: #fff;
    }

    #my_nav ul li .dropdown-menu {
        left: 0;
        transform: none;
    }














    /*ul.submenu li ul {*/
        /*top: 100%;*/
        /*left: 100%;*/
        /*min-width: 100%;*/
    /*}*/
    /*ul.submenu li:hover ul {*/
        /*left: 30px;*/
    /*}*/
    /*.submenu {*/
        /*left: 30px;*/
    /*}*/





    /* slider part */
    .single_slider{
        padding-bottom: 0;
        height: 350px;
    }
    .single_slider h1 {
        font-size: 25px;
    }
    .single_slider h3 {
        font-size: 18px;
    }
    .single_slider h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .single_slider .fill_button {
        padding: 5px 8px;
        font-size: 14px;
    }
    .main_slider .left_arrow, .main_slider .right_arrow {
        top: 20px;
        transform: none;
    }
    /* about part */
    .about {
        padding: 40px 0;
    }
    .about_content h3 {
        padding-top: 15px;
    }
    .about_video {
        height: 180px;
    }
    /* course part */
    .courses {
        padding: 40px 0;
    }
    .single_course {
        margin-bottom: 30px;
    }
    /* event part */
    .event {
        padding: 40px 0;
    }
    .single_event {
        padding: 15px 0;
        margin: 15px auto;
    }
    .event_details h3 {
        font-size: 18px;
        padding: 15px 0 0;
    }
    .date_and_button .date h3 {
        font-size: 18px;
    }
    .date_and_button .date h2 {
        font-size: 25px;
    }
    /* register part */
    .register {
        padding: 40px 0;
    }
    .register_info {
        padding: 0;
    }
    .register_info h3{
        font-size: 25px;
    }
    .register_info p {
        margin: 0;
        padding: 10px 0 30px;
    }
    /* gallery part */
    .gallery {
        padding: 40px 0;
    }
    /* blog part */
    .blog {
        padding: 40px 0;
    }
    .hblog {
        max-height: none;
    }
    .blog_thumbnail {
        height: 200px;
    }
    .blog_thumbnail img {
        min-width: 100%;
    }
    .blog_content {
        padding: 15px;
    }
    /* video part */
    .video {
        padding: 40px 0;
    }
    /* team part */
    .team {
        padding: 40px 0 100px;
    }
    .team .left, .team .right {
        bottom: 40px;
    }
    /* featire part */
    .feature {
        padding: 40px 0;
    }
    .single_feature {
        margin-bottom: 30px;
    }
    .feature .mt-5{
        margin-top: 0!important;
    }
    /* partner part */
    .partner {
        padding: 30px 0;
    }
    /* footer section */
    .footer {
        padding: 40px 0;
    }
    .footer_social_icon ul li {
        margin-bottom: 30px;
    }
    /* section title */
    .section_title h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
}
